.creatorGift{


  &_name {
  
  margin-top: 2.5rem;
  
  }
  
  
  &_detail{
  
  margin: 2.5rem;
  
  }
  
  
  &_link{
  
  width: 100%;
  
  }
  
  
  &_check{
  
  margin-bottom: -2.5rem;
  
  
  }
  
  p{
  
  
    margin-bottom: 4rem;
  }
  
  label
  {
    border: 1px, solid,orange;
    background-color: rgb(253, 218, 120);
    margin-bottom: 3rem;
  
  }
  
  
  
  }
  